html{
	margin: 0px auto;
	padding: 0px auto;
	font-size: 2vw;
	font-family: sans-serif;
	width: 100%;
    height:100%;
	font-family: 'Indie Flower', cursive;
	color: white;
	overflow: hidden;
	position: absolute;
}
body{
	width: 100%;
    height:100%;
	margin: 0px auto;
	padding: 0px auto;
	overflow-x: hidden;
	
}
@keyframes pulse{
	0% {
    transform: scale(1);
  }
  	50% {
    transform: scale(1.1);
  }
  	100% {
    transform: scale(1);
  }
}
:root{
	--backblue:#00121e;
	--borderInput:#3b8cc6;
	--backInput:#082336;
	--azuladao:#3de6af;
	--tamButton:80px;
}
/*nav bar*/
.nav{
	position: relative;
	background-color: var(--backInput);
	margin: 0px;
	height: 80px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

/*  bt usuario */
.caixaUser{
	position: absolute;
	right: 5px;
	padding: 5px;
	text-align: right;
}
.userzin{
	text-align: right;
}
.popUser{
	position: absolute;
	color: white;
	background-color: var(--backInput);
	display: none;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	z-index: 5;
	border-color: var(--backblue);
	border-style: solid;
	border-width: 2px;
	right: 5px;
}
.pop{
	
	box-shadow:inset 0px -2px var(--backblue);
	padding-top: 2px;
	cursor: pointer;
	padding-left:5px;
	padding-right:5px;
}
.pop:hover{
	background-color: var(--backblue);
	box-shadow: -3px 0px var(--azuladao);
}
/* sair */
.pop a{
	text-decoration: none;
	color: white;
}
/*firstView*/
.firstView{
	height: 100%;
	width: 100%;
	background-color: var(--backblue);
	position: relative;
	display:flex;
}
/*div caixa*/
.caixa{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr;
}
.titulo{
	font-size: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;

}
.conteudo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.teste{
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btPlay{
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* caixa boas praticas*/
.boas{
	z-index: 3;
	height: 100%;
	width: 100%;
	overflow:hidden;
	background-color: white;
	color: var(--backInput);
	text-align: center;
	display: none;
	flex-direction: row;
	position: absolute;
}
.fecha{
	position: absolute;
	right: 2%;
	top: 2%;
	z-index: 4;
}
/* caixao da dicas*/
.boxDica{
	position: absolute;
	background-color: white;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}
/*primeira caixa*/
.primeira{
	height: 100%;
	width: 100%;
	display: grid;
	flex-direction: column;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: center;
}
.primeira h1{
	width: 90%;
	justify-self:center;
}
.seg{
	display: flex;
	justify-self:center;
	justify-content: center;
	align-items: center;
	background-color: var(--azuladao);
	width: 30%;
	height: 30%;
	font-size: 32px;
	border-radius: 20px;
	cursor: pointer; 
}
.primeira label{
	justify-self:center;
	width: 30%;
	height: 30%;
}
.primeira label .seg{
	display: flex;
	justify-self:center;
	justify-content: center;
	align-items: center;
	background-color: var(--azuladao);
	width: 100%;
	height: 100%;
	font-size: 32px;
	border-radius: 20px;
	cursor: pointer; 
}
.primeira .ouviuExemplo{	
	display: flex;	
	justify-self:center;	
	justify-content: center;	
	align-items: center;	
	height: 150px;	
	width: 150px;	
	background-color: var(--backblue);	
	color: white;	
	border-radius: 100%;	
	animation: pulse 2s ease infinite;	
}	
.primeira .caixaButton{	
	display: flex;	
	width: 100%;	
	flex-direction: row;	
	justify-content: center;	
	align-items: center;	
}	
.primeira .buttonMaisExemplo{	
	background-color: var(--azuladao);	
	color:white;	
	border-radius: 100%;	
	display: flex;	
	justify-content: center;	
	align-items: center;	
	width: var(--tamButton);	
}	


.primeira .buttonMenosExemplo{	
	background-color: var(--azuladao);	
	color:white;	
	border-radius: 100%;	
	display: flex;	
	justify-content: center;	
	align-items: center;	
	cursor: pointer; 	
	margin-right: 50px;	
}
/*area de teste*/
.teste1{
	position: relative;
	height: 100%;
	width: 100%;
	display: none;
	flex-direction: column;
	background-color: white;
	z-index: 1;
	overflow: hidden;
}
.back{
	z-index: 2;
	position: absolute;
	top:2%;
	right: 2%;
	
}
#sons{
	z-index: 1;
	height: 100%;
	width: 300%;
	background-color: white;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	color: var(--backInput);
}
#boxFrequencia{
	z-index: 1;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
}
/*testes auditivos de cada frenquencia*/
.start125{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.comecou125{
	height: 100%;
	width: 100%;
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items:center;
	align-items: center;
	overflow: hidden;
}
.start250{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.comecou250{
	height: 100%;
	width: 100%;
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items:center;
	align-items: center;
	overflow: hidden;
}
.start500{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.comecou500{
	height: 100%;
	width: 100%;
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items:center;
	align-items: center;
	overflow: hidden;
}
.start1000{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.comecou1000{
	height: 100%;
	width: 100%;
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items:center;
	align-items: center;
	overflow: hidden;
}
.start2000{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.comecou2000{
	height: 100%;
	width: 100%;
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items:center;
	align-items: center;
	overflow: hidden;
}
.start4000{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.comecou4000{
	height: 100%;
	width: 100%;
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items:center;
	align-items: center;
	overflow: hidden;
}
/*check*/
#next:checked ~ .boas{
	display: flex;
}
#close:checked ~ .boas{
	display: none;
}
#next:checked ~ .firstView{
	display: none;
}
#next:checked ~ .teste1{
	display: flex;
}
/*por hz*/
#f125:checked ~ .start125{
display: none;
}
#f125:checked ~ .comecou125{
 display: grid;
}

#f250:checked ~ .start250{
 display: none;
}
#f250:checked ~ .comecou250{
 display: grid;
}

#f500:checked ~ .start500{
 display: none;
}
#f500:checked ~ .comecou500{
  display: grid;
}

#f1000:checked ~ .start1000{
display: none;
}
#f1000:checked ~ .comecou1000{
  display: grid;
}

#f2000:checked ~ .start2000{
display: none;
}
#f2000:checked ~ .comecou2000{
  display: grid;
}

#f4000:checked ~ .start4000{
	display: none;
}
#f4000:checked ~ .comecou4000{
  	display: grid;
}
/*checkboxes*/
#next{
	display: none;
}
#close{
	display: none;
}
/*por hz*/
#f125{
	display: none;
}
#f250{
	display: none;
}
#f500{
	display: none;
}
#f1000{
	display: none;
}
#f2000{
	display: none;
}
#f4000{
	display: none;
}
/*decibeis*/
.db{
	display: none; 	
}
/*buttons pause , + and -*/
.buttonMais{
	background-color: var(--azuladao);
	color:white;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: var(--tamButton);
}
.buttonMais:hover{
	box-shadow: 0px 0px 5px var(--backInput);
}
.buttonMenos{
	background-color: var(--azuladao);
	color:white;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer; 
}
.buttonMenos:hover{
	box-shadow: 0px 0px 5px var(--backInput);
}
.ouviu{
	height: 150px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--backblue);
	color: white;
	border-radius: 100%;
	animation: pulse 2s ease infinite;
}
.ouviu:hover{
	box-shadow: 0px 0px 10px var(--backblue);
}
/*progress*/
#caixaProgress{
	z-index: 1;
	height: 50px;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto auto auto auto auto auto auto;
	column-gap: 10px;
	align-items: center;
	justify-content: center;
}
.select{
	background-color: var(--azuladao);
}

/*add*/
span{
	background-color: var(--backInput);
	height: 10px;
	width: 10px;
	border-radius: 100%;
}
img{
	cursor: pointer;
}
/* grafico */
/* section grafico */
section .caixaGrafico{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	overflow:hidden;
	background-color: white;
}
.alerta{
z-index: 5;
position: absolute;
height: 100%;
width: 100%;
background-color: rgba(0,0,0,0.7);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.alerta .conteudo{
	background-color: var(--backInput);
	font-size: medium;
	padding: 15px;
	color:white;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 15px;
	max-width:70%;
	box-shadow: 0px 0px 3px var(--borderInput);
	text-align: center;
}
.carrega{
	background: var(--azuladao);
	border-radius: 50px;
	margin-top: 5px;
	padding: 5px;
	cursor: pointer;
}
.grafico{
	height: 95%;
	width: 95%;
}
/* salvar button */
.salvar{
	position: absolute;
	bottom: 5px;
	right: 5px;
	height: 50px;
	width: 50px;
	background-color: var(--azuladao);
	border-radius: 100%;
	background-image: url(../img/salvar.png);
	background-position: center;
	background-repeat: no-repeat;
	background: cover;
	border-color: var(--backInput);
	border-style: solid;
	padding: 2px;
	border-width: 2px;
	display: none;
	cursor: pointer;
}
/* oculto */
.user{
	position: absolute;
	display: none;
}
/*responsvidade*/
@media only screen and (max-width: 800px){
body,html{
	font-family: arial;
	font-size: 4vw;
	
}
.titulo{
	font-size: 4.5vw;
}
} 
